body {
    text-align: center;
    background-color: #111;
    color: white;
    font-family: sans-serif;
  }
  
  canvas {
    background-color: #70c5ce;
    display: block;
    margin: 0 auto;
    border: 2px solid white;
  }
  